<div class="contents">
  <div>
    <h1><%= @diary.title %></h1>
    <p><%= @diary.text %></p>
  </div>
  <div>
    <p>コメントする？</p>
  </div>
  <div>
    <ul>
      <li>投稿した人</li>
      <li>コメント</li>
    </ul>
  </div>
</div>
